//custom css styles
#header-div {
    background-color: #40968C;
}

.links {
    color:black;
    cursor: pointer;
}

div#display_login{
    border: 0px solid;
    margin-right: 15px;
    height:300px;
/*    margin-top: 30px;
    margin-bottom: 30px;*/
    background-color: whitesmoke;
    border-radius: 5px;
}
div#login_into{
    font-size: 150%;
    font-style: oblique;
    font-weight: bolder;
    padding-bottom: 20px;
}

img#login{
    height:75px;
    border-radius: 5px;
}
div#footer-div {
    clear: both;
    position: relative;
    z-index: 10;
    height: 4em;
    margin-top: 17.5em;
    background: #40968C;
    text-align: center;
}

 
 div#footer-div-temp {
          clear: both;
          position: fixed;
          bottom: 0;
          width:100%;
          height:3em;
          background: #40968C;
          text-align: center;
      }
      
div#body-div-temp {
   background-color: #16a085;
   color: #184501;
   font-weight: bolder;
}
      
      div.display_content{
          padding-top:10px;
          padding-bottom:20px;
          overflow: auto;
          height: 468px;
      }
      
 div#body-div {
         background-color: #16a085;
      }
/* @media (min-width: 768px ) {
        
 }*/

#topbar {
    text-align: center;
    font-weight: bold;
    font-style: oblique;
    font-size: 120%;
    color:#40968C;
}

#moduleId{
    text-align: right;
    font-weight: bold;
    font-size: 100%;
}


.footer {
    clear: both;
    position: absolute;
    bottom: 0px;
    text-align: center;
}

#ui-datepicker-div { 
     font-size:15px; 
     
 }
 
.ui-datepicker-header {
 background-color: #E1E1E1;
   
}

.register_width_fields {
    width:40%
}

.register_width_padding {
    padding: 13px;
}

.form_mandatory{
    color:red;
    font-weight: bolder;
}

.form_error{
    text-align: center;
    color:#cc0000;
    font-weight: bolder;
}

.form_success{
    text-align: center;
    color:green;
    font-weight: bolder;
}


.logo{
    width:60px;
    height:35px;
    border-radius: 2px;
    padding-bottom: 2px;
    padding-top: -9px
}

#logoreceipt{
    width:200px;
    height:70px;
    border-radius: 2px;
}

.pt_details{
    width:70px;
    height:60px;
    border-radius: 2px;
}

.patient_details_template{
    font-weight: bolder;
    font-style: italic;
}

.error {
    color:#cc0000;
    font-weight: bolder;
}

div#receipt{
    border: 2px;
    color: #184501;
}